@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.pb-sm {
  padding-block: 0.5rem;
}

.pb-md {
  padding-block: 1rem;
}

.pb-lg {
  padding-block: 1.5rem;
}

.pb-xl {
  padding-block: 2rem;
}

.pb-xxl {
  padding-block: 2.5rem;
}

.mb-sm {
  margin-block: 0.5rem;
}

.mb-md {
  margin-block: 1rem;
}

.mb-lg {
  margin-block: 1.5rem;
}

.mb-xl {
  margin-block: 2rem;
}

.mb-xxl {
  margin-block: 2.5rem;
}

.pin-sm {
  margin-inline: 0.5rem;
}

.pin-md {
  margin-inline: 1rem;
}

.pin-lg {
  margin-inline: 1.5rem;
}

.pin-xl {
  margin-inline: 2rem;
}

.pin-xxl {
  margin-inline: 2.5rem;
}

.min-sm {
  padding-inline: 0.5rem;
}

.min-md {
  padding-inline: 1rem;
}

.min-lg {
  padding-inline: 1.5rem;
}

.min-xl {
  padding-inline: 2rem;
}

.min-xxl {
  padding-inline: 2.5rem;
}

.btn-1 {
  background-color: #0e6cff;
  color: #f4f4f4;
  border: 2px solid #0041a7;
  padding: 1rem 3rem;
  border-radius: 20px;
  text-align: center;
  font-size: inherit;
  cursor: pointer;
}
.btn-1:hover {
  transition: all 0.3s;
  background-color: #0055da;
  border: none;
  transform: scale(1.1);
}

.btn-2 {
  background-color: #ff8700;
  color: #f4f4f4;
  border: 2px solid #995100;
  padding: 1rem 3rem;
  border-radius: 20px;
  text-align: center;
  font-size: inherit;
  cursor: pointer;
}
.btn-2:hover {
  transition: all 0.3s;
  background-color: #cc6c00;
  border: none;
  transform: scale(1.1);
}

.btn-3 {
  background-color: #4caf50;
  color: #f4f4f4;
  border: 2px solid #2d682f;
  padding: 1rem 3rem;
  border-radius: 20px;
  text-align: center;
  font-size: inherit;
  cursor: pointer;
}
.btn-3:hover {
  transition: all 0.3s;
  background-color: #3d8b40;
  border: none;
  transform: scale(1.1);
}

section .row {
  justify-content: space-between;
}
section img {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-animated {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.img-floating {
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.493);
  border: 1px solid #000000;
}

.row {
  display: flex;
  gap: 10px;
}
.row .col-1 {
  width: calc(100% - 10px);
}
.row .col-2 {
  width: calc(50% - 20px);
}
.row .col-3 {
  width: calc(33.3333333333% - 30px);
}
.row .col-4 {
  width: calc(25% - 40px);
}
.row .col-5 {
  width: calc(20% - 50px);
}
.row .col-6 {
  width: calc(16.6666666667% - 60px);
}
.row .col-7 {
  width: calc(14.2857142857% - 70px);
}
.row .col-8 {
  width: calc(12.5% - 80px);
}
.row .col-9 {
  width: calc(11.1111111111% - 90px);
}
.row .col-10 {
  width: calc(10% - 100px);
}
.row .col-11 {
  width: calc(9.0909090909% - 110px);
}
.row .col-12 {
  width: calc(8.3333333333% - 120px);
}

body {
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-inline: auto;
  background-color: #640fc5;
  border-bottom: 3px solid #f4f4f4;
  box-shadow: 0 3px 10px rgba(80, 80, 80, 0.589);
}

.flex {
  display: flex;
}

.navbar {
  width: 100%;
}
.navbar .container nav {
  align-items: center;
  justify-content: flex-start;
}
.navbar .container nav ul {
  gap: 3rem;
  margin-inline-start: auto;
}
.navbar .container nav ul li {
  font-size: 1.4rem;
  list-style-type: none;
}
.navbar .container nav ul li a {
  text-decoration: none;
  color: #f4f4f4;
  font-weight: bold;
}
.navbar .container nav ul li a:hover {
  transition: 0.3s;
  color: #dbdbdb;
  font-size: 1.54rem;
}

/* main hero*/
.hero .description {
  margin: 6rem 3rem;
  color: #f4f4f4;
}
.hero .description h1 {
  font-size: 64px;
  color: #dbdbdb;
}
.hero .description h3 {
  font-size: 20px;
}
.hero .hero-img {
  background-image: url(https://plus.unsplash.com/premium_photo-1669411189410-79c07111cf8a?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  width: 40%;
  border-radius: 30px;
  opacity: 0.7;
}
.hero .controls {
  width: 60%;
  margin-inline: auto;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.test {
  background-color: lightblue;
  height: 100px;
}/*# sourceMappingURL=style.css.map */